# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings


# Custom stuff
Assets/Integrations/
PackageExports/
AssetStoreVisuals/
Assets/UFPS/
Assets/Behavior Designer/
Assets/PlayMaker/
Assets/Plugins/
Assets/Dialogue System/
Assets/Dialogue System Examples/
Assets/plyData/
Assets/AssetStoreTools/
Assets/EditorGUI Style Viewer/
Assets/Gizmos/
Assets/Easy Save 2/
Assets/UnityVS/
Assets/plyoung/
Assets/Photon Unity Networking/
Builds/
Assets/Monster/
Assets/iTween/
Assets/UnityTestTools/
Assets/kolmich/
Assets/Features/
Assets/Art/
Assets/Scenes/
Assets/Animation/
Assets/Mad Compile Time Optimizer/
Assets/UMA/
Assets/Standard Assets/
Assets/SecretAnorak/
Assets/Editor/UMA/
Assets/InventoryProTutorials/
Assets/RelationsInspector/
Assets/NodeCanvas/
Assets/InventorySystem/
Assets/ConsoleE/
Assets/Rewired/
Assets/Crazy Minnow Studio/
Exports/
ScriptReference/
Assets/Devdog/InventoryPro
Assets/Devdog/InventoryPro/
Assets/crosstales/
Assets/Pixel Crushers/
Assets/Rogo Digital/
Assets/Editor Default Resources/
Assets/Cinemachine/
Assets/ConsolePro/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vsconfig

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
#*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

